# Ejercicios de Pandas üêº (+NumPy)
Ahora que hemos aprendido algunos conceptos basicos de la libreria Pandas, vamos a hacer unos cuantos ejercicios combinando NumPy y Pandas, para refrescar ideas y para comprobar que habeis entendido estos conceptos.
### 1. Importa la librer√≠a Pandas asignandole el nombre *pd* y NumPy asignandole el nombre *np*
üö® Atencion: Te cuidado con las mayusculas, normalmente el nombre de las librerias est√° en minusculas. Como normal general, siempre utiliza minusculas.

### 2. Con la funcion *zeros*  de NumPy Crea un array de ceros de 365 filas y 1 columna que se llame *temp*
üö® Atencion: El numero de filas y columnas debe ir entre corchetes.

### 3. Usando Pandas crea una serie temporal con las fechas de todos los dias de este a√±o. Guardala en una variable que se llame *dates*
üö® Atencion: Cuidado con el orden de la fecha, primero el a√±o, despues el mes y por ultimo el dia.

### 4. Ahora con Pandas crea un DataFrame que se llame *temp_df* en el que *dates* sea el indice y que contenga una columna con los datos de *temp*. Llama a dicha columna *'temperature (DegC)'*.

### 5. Extrae solo la parte de *temp_df* que corresponda a Diciembre

### 6. Ahora a los valores que corresponden a Enero dales el valor 5.

### 7. Ahora a los valores que corresponden a Febrero y Marzo dales el valor 7 y  10 respectivamente.

### 8. Crea un bucle que haga esta operacion automaticamente para cada mes. Empezando por Enero dales los valores siguientes a cada mes: 5, 7, 10, 14, 18, 23, 27, 30, 25, 20, 12, 6.

### 9. Haz lo mismo pero ahora en vez de dar un valor igual para todos los dias de cada mes, dale un valor aleatorio a cada dia. El valor aleatorio lo generamos con una distribucion normal de media 5, 7, 10, 14, 18, 23, 27, 30, 25, 20, 12, 6 para cada mes y una desviacion estandar de 2 para todos los meses.